{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Менеджер{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "fontawesome/css/font-awesome.css" %}"/>
    <link rel="stylesheet" href="{% static "css/noty.css" %}"/>
    <link rel="stylesheet" href="{% static "css/manager.css" %}"/>
{% endblock %}
{% block script %}
    <script src="{% static "kendo/js/cultures/kendo.culture.ru-RU.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.web.min.js" %}"></script>
    <script>  kendo.culture("ru-RU"); </script>
    <script src="{% static "js/noty.js" %}"></script>
    <script src="{% static "js/manager.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <a id="logo" href="#">
                    <img src="{% static "img/manager.png" %}" alt="Manager" />
                </a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Менеджер </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="logout" href="#">Выход</a></li>
                </ul>
            </div>
        </nav>

        <div id="tabs">
            <ul>
                <li>
                    <i class="fa fa-book"></i> Меню
                </li>
                <li class="k-state-active">
                    <i class="fa fa-users"></i> Заказы
                </li>
                <li>
                    <i class="fa fa-mobile-phone"></i> СМС рассылки
                </li>
            </ul>
            <div>
                <div id="menu"></div>
            </div>
            <div>
                <div id="orders"></div>
            </div>
            <div>
                СМС рассылки
            </div>
        </div>
    </div>

    {% include "noty.html" %}

    <script type="text/x-kendo-template" id="categories_header_template">
        <span class="k-button add_categories"><i class="fa fa-plus-circle"></i> Добавить категорию</span>
        <span class="k-button reload_categories" title="Перезагрузить таблицу"><i class="fa fa-repeat"></i> </span>
    </script>

    <script type="text/x-kendo-template" id="menu_header_template">
        <span class="k-button add_menu"><i class="fa fa-plus-circle"></i> Добавить</span>
        <span class="k-button reload_menu" title="Перезагрузить таблицу"><i class="fa fa-repeat"></i> </span>
    </script>

    <script type="text/x-kendo-template" id="orders_header_template">
        <span class="k-button expand_orders"><i class="fa fa-caret-down"></i> Раскрыть</span>
        <span class="k-button collapse_orders"><i class="fa fa-caret-right"></i> Свернуть</span>
        <span class="k-button reload_order" title="Перезагрузить таблицу"><i class="fa fa-repeat"></i> </span>
    </script>

    <script type="text/x-kendo-template" id="orders_detail_template">
        <span id="comments"></span>
        <div id="order_detail"></div>
    </script>

        <div id="change_menu_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Редактирование блюда</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_menu" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Категория<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field" >
                                <div style="display: table; width: 100%;">
                                    <select data-role="dropdownlist" name="category" style="width: 100%; display: table-cell;"
                                            data-bind="source: categories, value: o.category"
                                            data-text-field="name" data-value-field="id"
                                            data-option-label="Выберите категорию..." required>
                                    </select>
                                    <span class="k-button show_categories" style="width: 30px; display: table-cell;">
                                        <i class="fa fa-pencil"></i></span>
                                </div><span class="k-invalid-msg" data-for="category"></span>
                            </div>
                            <div class="k-edit-label">
                                <label>Название<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required placeholder="Название"
                                       style="width: 100%"
                                       data-bind="value: o.name"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Описание:</label>
                            </div>
                            <div class="k-edit-field">
                                <textarea placeholder="Описание" class="k-textbox" data-bind="value: o.description"
                                          style="width: 100%; height: 150px;"> </textarea>
                            </div>
                            <div class="k-edit-label">
                                <label>Цена<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input data-role="numerictextbox"
                                       data-culture="ru-RU"
                                       data-format="c"
                                       data-min="0"
                                       data-bind="value: o.price"
                                       name="price"
                                       style="width: 100%" required>
                                <span class="k-invalid-msg" data-for="price"></span>
                            </div>
                            <div class="k-edit-label">
                                <label>Превью:</label>
                            </div>
                            <div class="k-edit-field">
                                <img id="preview" src="/media/default.png" alt="Превью"/>
                                <input type="file" name="file_uploader" id="file_uploader" />
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="menu_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="categories_window" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Список категорий</h4>
                    </div>
                    <div class="modal-body">
                        <div id="categories" ></div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change_categories_window" class="modal fade" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Редактирование категории</h4>
                    </div>
                    <div class="modal-body">
                        <div id="change_categories" class="k-edit-form-container" style="width: inherit;">
                            <div class="k-edit-label">
                                <label>Название<span class="required">*</span>:</label>
                            </div>
                            <div class="k-edit-field">
                                <input type="text" class="k-textbox" name="name" required placeholder="Название"
                                       style="width: 100%"
                                       data-bind="value: o.name"/>
                            </div>
                            <div class="k-edit-label">
                                <label>Позиция:</label>
                            </div>
                            <div class="k-edit-field">
                                <input data-role="numerictextbox"
                                       data-format="n0"
                                       data-min="0"
                                       data-bind="value: o.weight"
                                       style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрыть</button>
                        <button id="categories_save" type="button" class="btn btn-primary btn-sm">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}