{% load staticfiles %}
<span id="k-notification" style="display:none;"></span>

<script id="errorTemplate" type="text/x-kendo-template">
    <div id="error-noti" class="noti">
        <img src="{% static "img/noty/error-icon.png" %}" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="waitTemplate" type="text/x-kendo-template">
    <div id="wait-noti" class="noti">
        <img src="{% static "img/noty/wait-icon.png" %}" />
        <h3>#= message #</h3>
    </div>
</script>

<script id="doneTemplate" type="text/x-kendo-template">
    <div id="done-noti" class="noti">
        <img src="{% static "img/noty/done-icon.png" %}" />
        <h3>#= message #</h3>
    </div>
</script>


<script id="alertTemplate" type="text/x-kendo-template">
    <div id="alert-noti" class="noti">
        <img src="{% static "img/noty/alert-icon.png" %}" />
        <h3>#= message #</h3>
        <audio autoplay="autoplay">
            <source src="{% static "sound/noty.mp3" %}" type="audio/mpeg" />
            <source src="{% static "sound/noty.ogg" %}" type="audio/ogg" />
            <embed hidden="true" autostart="true" loop="false" src="{% static "sound/noty.mp3" %}" />
        </audio>
    </div>
</script>