.clear { clear: both; }
.required { color: #f00; }

.k-edit-label, .k-edit-form-container .editor-label { width: 20%; }
.k-edit-field, .k-edit-form-container .editor-field { width: 73%; }

.k-widget.k-tooltip-validation { margin-top: 5px; }