body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    background-color: #eee;
    font: normal 13px/15px Arial, Helvetica, Sans-serif;
}

.clear { clear: both; }

.required { color: #f00; }

#logo{ float:left; }
#logo img {
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.navbar-collapse .navbar-nav.navbar-left:first-child { margin-left: 0; }

.k-edit-label, .k-edit-form-container .editor-label { width: 20%; }
.k-edit-field, .k-edit-form-container .editor-field { width: 73%; }

.k-widget.k-tooltip-validation { margin-top: 5px; }

.modal-header { padding: 10px }
.modal-footer { padding: 9px 20px 10px; }