body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777;
    background-color: #eee;
    font: normal 13px/15px Arial, Helvetica, Sans-serif;
}

#logo{ float:left; }
#logo img {
    height: 50px;
    width: 50px;
    margin-right: 8px;
}

.navbar-collapse .navbar-nav.navbar-left:first-child { margin-left: 0; }

.modal-header { padding: 10px }
.modal-footer { padding: 9px 20px 10px; }

.k-grid tbody .k-button {
    min-width: 12px;
}

#change_menu_window button.k-button.k-upload-selected { display: none }

#preview {
    width: 200px;
    height: 200px;
    margin: 15px auto;
    display: block;
    border: 1px solid;
    border-radius: 5px;
}

#comment {
    margin: 5px 0;
    padding: 5px;
}

.not_completed_status {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}

.completed_status {
    color: #FFF;
    background-color: #31B0D5;
    border-color: #269ABC;
}